.query-data {
    display: grid;
    border: 1px solid #efefef;
    cursor: pointer;
    overflow-x: auto;
}

.col-headers,
.data-container,
.data-row {
    display: contents;
}

.col-headers {
    font-weight: bold;
}

.col-header {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 12px;
}

.data-cell {
    background-color: #ffffff;
    border: 1px solid #efefef;
    padding: 4px;
}

.col-header:hover,
.data-cell:hover {
    background-color: #f5f5f5;
}

.large-data-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-number {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 4px 8px;
}
