.query-data {
    border: 1px solid #efefef;
    cursor: pointer;
    overflow: auto;
    margin-bottom: 32px;
}

.col-headers {
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

.col-headers,
.data-row {
    display: flex;
}

.data-row {
    position: absolute;
    top: 50px;
    left: 0;
}

.col-header {
    flex: 0 0 200px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 12px;
}

.data-cell {
    flex: 0 0 200px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #efefef;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col-header:hover,
.data-cell:hover {
    background-color: #f5f5f5;
}

.large-data-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-number {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    padding: 4px 8px;
    position: sticky;
    left: 0;
}

.status-bar {
    position: absolute;
    background-color: yellow;
    bottom: -48px;
}
