.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  text-align: left;
}

#root {
  max-width: 1280px;
  min-width: 640px;
  width: 84%;
  margin: 0 auto;
}
